
a:hover{
    color: dark;
    background-color: white;
}


mat-sidenav-container{
    height: 90%;
    width: 100%;
}

mat-sidenav{
   width: 150px;
   background-color: #3F51B5;
   border-radius: 10px;
}
