<div class="row">
  <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm mb-3">
    <a class="navbar-brand text-primary p-2" [routerLink]="'/'">Connected Business</a>
  
    <a class="bt navbar-toggler text-light" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <i class="fas fa-bars text-primary bg-light"></i>
    </a>
  
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse p-1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn nav-link" routerLink="/" (click)="isMenuCollapsed = true">Home</a>
        </li>
        <li class="nav-item" *ngIf="userID">
          <a class="btn nav-link" routerLink="/posts" (click)="isMenuCollapsed = true">Social Room</a>
        </li>
        <li ngbDropdown class="nav-item">
          <a class="btn nav-link" id="dropdownMyAccount" ngbDropdownToggle >
            <i class="fas fa-user-circle"></i> Mijn Account  <span *ngIf="username">( {{username}} )</span>
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownMyAccount">
            <button ngbDropdownItem class="btn" routerLink="/signin">Aanmelden</button>
            <button ngbDropdownItem class="btn" routerLink="/signup">Registereren</button>
            <div *ngIf="userID">
              <button ngbDropdownItem class="btn" *ngIf="userID" routerLink="/users/view">Mijn profiel</button>
              <button ngbDropdownItem class="btn" routerLink="/company/create">Bedrijf aanmaken</button>
              <button ngbDropdownItem class="btn" routerLink="/company/view" *ngIf="isSuperadmin">Mijn bedrijf</button>
              <button ngbDropdownItem class="btn" routerLink="/logout">Afmelden</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<main>
  <router-outlet></router-outlet>
</main>