<div class="container">
    <img [src]="wallpaperImage" alt="wallpaperImage" class="row">
    <div class="row float-start align-bottom">
        <div class="col">
            <div class="card shadow-sm" style="width: 18rem;">
                <img [src]="shareImg" class="card-img-top" alt="">
                <div class="card-body">
                    <h2 class="card-title">Deel je ervaring</h2>
                    <p class="card-text">Deel gemakklijk jouw ideeën en ervaring met collega's.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm" style="width: 18rem;">
                <img [src]="moreConnectImg" class="card-img-top" alt="">
                <div class="card-body">
                    <h2 class="card-title">Dichter bij</h2>
                    <p class="card-text">Kom in toch met mensen in uw bedrijf en beleef meer..</p>
                </div>
            </div>
        </div>
    </div>
</div>